*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
.content_wrapper {
    width: 100vw;
    margin: 0 auto;
    padding-left: 10%;
}
.header {
    padding-top: 5rem;
}
.nav span {
    display: block;
    margin-bottom: 0.5rem;
    width: 2rem;
    height: 0.2rem;
    background-color: gray;
}
.nav:hover {
    cursor: pointer;
}
.nav:hover span {
    background-color: rgb(95, 95, 95);
}
.page_name {
    position: absolute;
    top: 2rem;
    left: calc(50vw - 280px);

}
.page_name h1 {
    padding-top: 4rem;
    text-transform: uppercase;
    font: 12rem Arial, sans-serif;
    letter-spacing: 4rem;
    color: #d6ceb9;
}
.page_name div {
    width: 21rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(114 177 156);
    position: absolute;
    top: -2rem;
    left: calc(50% - 12rem);
    color: white;
    font-size: 4.5rem;
    box-shadow: 0px 16px 6px -10px rgba(34, 60, 80, 0.51);
}

.story1 {
    padding-top: 16rem;
    padding-bottom: 10rem;
    display: flex;
}
.info_type {
    margin-bottom: 2rem;
    font: 1.2rem Arial, sans-serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: gray;
}
.section_title {
    font: 4rem 'Times New Roman', serif;
    margin-bottom: 6rem;
}
.text {
    font: 2rem/3rem 'Times New Roman', serif;
    margin-bottom: 4rem;
}
img {
    border: 10px solid white;
    box-shadow: 0px 0px 1px 1px rgba(4, 8, 10, 0.2);
}
.story1 img[alt="Ocean"] {
    width: 82rem;
    height: 45rem;
    position: relative;
    right: -5%;
    
}
.story1 img[alt="Girl"] {
    width: 32rem;
    height: 22rem;
    position: absolute;
    right: 48rem;
    top: 31rem;
}
.btn {
    width: 19rem;
    height: 4rem;
    border-radius: 5rem;
    border: none;
    background-color: rgb(114, 177, 156);
    color: white;
    text-transform: uppercase;
    font: 1.5rem Arial, sans-serif;
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(87, 134, 118);
}
.story2 {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.story2 .section_title {
    margin-bottom: 6rem;
    text-align: center;
}
.story2 img {
    width: 85%;
    height: 85%;
    margin-bottom: 8rem;
}
.travel2_content {
    width: 75%;
    margin-bottom: 8rem;
}
.story2 img[alt="Mountains video"] {
    border: none;
    width: 130vw;
}